<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Using</key>
  <true/>
<key>unityz</key>
<string>https://m88vip2.com/en</string>
<key>orz</key>
  <false/>
</dict>
</plist>